## Pré-processamento

In [1]:
# Imports
import pandas as pd
import numpy as np

In [5]:
# Load dataset
df = pd.read_csv('data/dados_covid.csv', sep=';', encoding='utf-8')
df.head()

   id  idade  uf renda  vacina
0   1   15.0  SP     C       1
1   2   38.0  MG   NaN       0
2   3   49.0  RJ     C       0
3   4   71.0  BA   NaN       0
4   5   58.0  MG     D       1

In [9]:
# Verificar nulos, types e colunas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      50 non-null     int64
 1   idade   30 non-null     float64
 2   uf      29 non-null     object
 3   renda   31 non-null     object
 4   vacina  50 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB

In [10]:
# Estatística descritiva dos atributos
df.describe()

             id      idade    vacina
count  50.00000  30.000000  50.00000
mean   25.50000  48.666667   0.30000
std    14.57738  22.197131   0.46291
min     1.00000  14.000000   0.00000
25%    13.25000  33.500000   0.00000
50%    25.50000  48.500000   0.00000
75%    37.75000  61.000000   1.00000
max    50.00000  87.000000   1.00000

In [6]:
# Verificar redundância
df['uf'].value_counts()

SP    9
MG    5
BA    3
RS    3
RJ    2
PE    2
sp    1
ce    1
rj    1
CE    1
AM    1
Name: uf, dtype: int64

In [7]:
# Transformar valores
df['uf'] = df['uf'].str.upper()
df['uf'].value_counts()

SP    10
MG     5
RJ     3
BA     3
RS     3
CE     2
PE     2
AM     1
Name: uf, dtype: int64

In [9]:
# Tratar valores nulos de idade com a média
df['idade'].fillna(round(df['idade'].mean()), inplace=True)

# Tratar valores nulos de uf com o próximo registro
df['uf'].fillna(method='ffill', inplace=True)

# Tratar valores nulos de renda com o valor anterior
df['renda'].fillna(method='bfill', inplace=True)

In [10]:
df.head()

   id  idade  uf renda  vacina
0   1   15.0  SP     C       1
1   2   38.0  MG     C       0
2   3   49.0  RJ     C       0
3   4   71.0  BA     D       0
4   5   58.0  MG     D       1

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      50 non-null     int64
 1   idade   50 non-null     float64
 2   uf      50 non-null     object
 3   renda   50 non-null     object
 4   vacina  50 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB